.*
!.gitignore
!.vscode
!.clang-format
!.editorconfig
*.tmp

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
HomeAccount
HomeAccount.app
HomeAccount_win
HA/
*.exe
*.out
*.app

# Zip files
*.tar.bz2
*.tar.gz
*.zip

# Resources
*.icns
*.mo
*.pot
*.xrs
*~

# Logs
*.log
